.navbar{
    background-color: #ED5353;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 55px;
    color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
}

.container{
    padding: 2rem 4rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.buttons button{
    padding: 0.5rem 0;
    min-width: 6rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #ED5353;
    cursor: pointer;
}

.container h1{
    cursor: pointer;
}

.container h1, .container .buttons{
    z-index: 1;
}

.rectangle1, .rectangle2, .rectangle3{
    position: absolute;
    z-index: 0;
    width: 15rem;
    height: 5rem;
    background-color: #FF6B6B;
}

.rectangle1{
    bottom: -33px;
    left: -14px;
    transform: rotate(11deg);
    transform-origin: bottom left;
}

.rectangle2{
    left: 50%;
    top: -39px;
    transform: translateX(-50%) rotate(-14deg);
    border-bottom-left-radius: 50px;
    width: 20rem;
}

.rectangle3{
    right: 60px;
    width: 20rem;
    height: 7rem;
    bottom: -5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px ;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}

.buttons .login{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.buttons .logout{
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.buttons img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}